<div class="mark_field">
  <i class="fa fa-close delete_mark_field"></i>
    <p>
      <%= f.label :lat %>
      <%= f.text_field :lat, class: "form-control" %>
    </p>
    <p>
      <%= f.label :lng %>
      <%= f.text_field :lng, class: "form-control" %>
    </p>
		<p>
			<%= f.label :index %>
			<%= f.text_field :index_mark, class: "form-control" %>
		</p>
</div>
