<div class="row tile_count">
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> <%= t ".number_of_employees" %></span>
    <div class="count">

      </div>
    <span class="count_bottom">
      <i class="green"><i class="fa fa-sort-asc"></i>10%</i> <%= t ".from_last_month" %>
    </span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-clock-o"></i> <%= t ".hour_of_overtimes" %></span>
    <div class="count">

    </div>
    <span class="count_bottom">
      <i class="red"><i class="fa fa-sort-desc"></i>20%</i> <%= t ".from_last_month" %>
    </span>
  </div>
  <div class="col-md-8">
    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-money"></i> <%= t ".total_salary" %></span>
      <div class="count green">
      </div>
      <span class="count_bottom">
        <i class="green"><i class="fa fa-sort-asc"></i>15%</i> <%= t ".from_last_month" %>
      </span>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-money"></i> <%= t ".salary_for_dev_teams" %></span>
      <div class="count">
      </div>
      <span class="count_bottom">
        <i class="red"><i class="fa fa-sort-desc"></i>9%</i> <%= t ".from_last_month" %>
      </span>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-money"></i> <%= t ".salary_for_manager_teams" %></span>
      <div class="count">
      </div>
      <span class="count_bottom">
        <i class="green"><i class="fa fa-sort-asc"></i>8%</i> <%= t ".from_last_month" %>
      </span>
    </div>
  </div>
</div>
