<% if user_signed_in? %>
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-9">
      <div id="map"></div>
    </div>
    <div class="col-md-3">
      <div class="filter">
        <span>
          <h5>Filter Line:</h5>
        </span>
        <i class="fa fa-arrows hide-filter"></i>

        <div class="filter-content">
          <%= form_tag "/filterline", class: "filterline" do  %>
            <% @pipelines.each do |pipeline| %>
              <p>
                <%= check_box_tag pipeline.name %>
                <%= label pipeline.name, pipeline.name %>
              </p>
            <% end %>
            <%= button_tag "Show", type: "button", class: "btn-submit btn btn-primary" %>
          <% end %>
        </div>
      </div>

      <div class="polygon">
        <span><strong>Draw the area for checking inside line</strong></span>
        <div class="enable-polygon">
          <label class="switch">
            <input type="checkbox" id="enable-polygon">
            <span class="slider round"></span>
          </label>
          <span class="content-text-polygon">Enable Draw polygon</span>
        </div>
        <button class="reset-poly btn btn-info">Reset Polygon</button>
        <button class="checking-poly btn btn-primary" data-toggle="modal" data-target="#checking-poly">Checking Line inside Polygon</button>
      </div>
    </div>
  </div>
</div>
<%= render "map" %>
<div class="modal fade" role="dialog" id="checking-poly">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">List Line in area</h4>
        <h5>Show all Line in checked area</h5>
        <div class="count-line">  </div>
      </div>
      <div class="list-line-area"></div>
    </div>
  </div>
</div>
<% else %>
  <%= render "devise/sessions/login" %>
<% end %>
