<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-10">
      <div id="map"></div>
    </div>
    <div class="col-md-2">
      <%= form_tag "", remote: true do  %>
        <p>
          <%= check_box_tag "electric_path" %>
          <%= label "electric_path", "electric_path" %>
        </p>
        <p>
          <%= check_box_tag "water_path" %>
          <%= label "water_path", "water_path" %>
        </p>
        <p>
          <%= check_box_tag "internet_path" %>
          <%= label "internet_path", "internet_path" %>
        </p>
        <%= submit_tag "Show", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRokdooYxhMWGY-kdWPcbDBcDkhVrAxdc&callback=initMap">
</script
