<% if user_signed_in? %>
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-10">
      <div id="map"></div>
    </div>
    <div class="col-md-2">
      <%= form_tag "/filterline", class: "filterline" do  %>
        <% @pipelines.each do |pipeline| %>
          <p>
            <%= check_box_tag pipeline.name %>
            <%= label pipeline.name, pipeline.name %>
          </p>
        <% end %>
        <%= button_tag "Show", type: "button", class: "btn-submit btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<%= render "map" %>
<% else %>
  <%= render "devise/sessions/login" %>
<% end %>
