<tr>
  <td><%= contruction.id %></td>
  <td><%= contruction.name %></td>
  <td><%#= pipeline.size_safe %></td>
  <td><%= contruction.description %></td>
  <td>
    <button class="fa fa-pencil button_action" data-toggle="modal" data-target="#<%= contruction.id %>"></button>
    <button class="button_action"><%= link_to "", contruction_path(contruction), confirm: "Are you sure?", method: :delete, class: "fa fa-trash" %></button>
  </td>
</tr>
<div class="modal fade" id="<%= contruction.id %>" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">

        <%= form_for contruction, url: contruction_path(contruction) do |f| %>
          <p>
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </p>
          <p>
            <%#= f.label :size_safe %>
            <%#= f.text_field :size_safe, class: "form-control" %>
          </p>
          <p>
            <%= f.label :description %>
            <%= f.text_field :description, class: "form-control" %>
          </p>
          <%= f.submit "Update", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
