<!DOCTYPE html>
<html>
  <head>
    <title>Pipeline</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="nav-md">
    <div class="container body">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/gentelella/1.4.0/css/custom.min.css">
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
      <div class="main_container">
        <% if user_signed_in? %>
          <%= render "layouts/sidenav" %>
          <%= render "layouts/topnav" %>
          <%= render "layouts/flash" %>
        <% end %>
        <%= yield %>
        <% if user_signed_in? %>
          <%= render "layouts/footer" %>
        <% end  %>
      </div>
    </div>
  </body>
</html>
